.component.photo-view
  :each c in node.children
    %li
      %a{ href : c.url }
        .image{ dojoType: 'toura.ui.BackgroundImage', imageUrl: c.featuredImage.small.url, loadOnInit: true }
        %span =c.name
