.component.todo-manager {
  @include chrome-gradient;
  color: $chrome-text-color;
  background-color: $chrome-color;
  padding: 10px;

  a {
    padding-left: 20px;
    color: $hint-text-color;
  }
}
