ol.component.preparation-list {
  list-style: decimal;

  .phone & {
    .main-recipe & {
      margin: 0 5px;
    }

    li {
      background-color: #f7f3f2;
      background-image: url('./resources/pages_shadow-left-corner.png');
      margin: 10px 0 20px;
      padding: 10px 10px 10px 30px;
      box-shadow: 0 2px 5px rgba(0,0,0,.15);
    }
  }
}