ol.component.preparation-list {
  list-style: decimal;

  .phone & {
    .main-recipe & {
      margin: 0 5px;
    }

    li {
      margin: 10px 0 15px;
      padding-right: 10px;
      > div {
        background-color: #f7f3f2;
        padding: 10px 10px 10px 30px;
        margin-left:-10px;
      }
      background: {
        image: url('resources/pages_shadow-left-corner.png'), url('resources/pages_shadow-right-corner.png');
        position: bottom left, bottom right;
        repeat: no-repeat;
      };
    }
  }
}