.component.image-header {
  h1 {
    background-color: $headerbg;
    position: absolute;
    left: 0;
    color: white;
  }

  .phone & {
    height: 200px;

    @media screen and (max-height: 320px) {
      display: none;
    }

    h1 {
      bottom: 25px;
      width: 100%;
      padding: 10px;
      font: {
        family: $headers;
        size: 24px;
      };
    }
  }

  .tablet & {
    height: 400px;

    h1 {
      bottom: 50px;
      max-width: 75%;

      padding: 10px 20px;
      font:{
        family: $headers;
        size: 36px;
        weight: normal;
      }
    }
  }

  > header {
    height: 100%;
    background-position: center;
    background-size: cover;
  }
}
