@import 'settings';
@import 'helpers/mixins';
@import 'helpers/forms';

@import 'splash';

body {
  color: $text-color;
  font-family: $base-font;
}

.page {
  background-color: $app-background-color;
}

@import 'components/base';
@import 'templates/base';

// KLUDGE: workaround for bug in ios where :last-child styles in captions are
// not applied until after scroller moves, which changes the height and breaks
// the scroller.
.component.body-text:not(.image-caption) {
  p:last-child {
    margin-bottom: 0;
  }
}


@import '../../javascript/components/TodoForm/todo-form';
@import '../../javascript/components/TodoList/todo-list';
@import '../../javascript/components/TodoManager/todo-manager';
