@import 'settings';
@import 'helpers/mixins';
@import 'helpers/forms';

@import 'splash';
@import 'screen';

body {
  color: $text-color;
  font-family: $base-font;
}

.page {
  background-color: $app-background-color;
}

@import 'components/base';
@import 'page_defs/base';

// KLUDGE: workaround for bug in ios where :last-child styles in captions are
// not applied until after scroller moves, which changes the height and breaks
// the scroller.
.component.body-text:not(.image-caption) {
  p:last-child {
    margin-bottom: 0;
  }
}

$headers: Baskerville, serif;
$headerbg: rgba(0,0,0,.8);
$navbg: #5f5a50;

.region.page-nav {
  @include fixed-flex-region;
}

@import '../../javascript/components/HomeHeader/home-header';
@import '../../javascript/components/ImageHeader/image-header';
@import '../../javascript/components/IngredientsList/ingredients-list';
@import '../../javascript/components/PreparationList/preparation-list';
@import 'custom';
@import '../../javascript/components/PhotoView/photo-view';
@import '../../javascript/components/PhotoViewTwo/photo-view-two';
